.container {
    min-height: 50rem;
}

.header {
    font-weight: 700;
    margin-top: 2rem;
}

.table {
    color: #090526;
    background-color: #fff;
    border-radius: 2rem;
    margin-top: 1rem;
    box-shadow: 3px 2px 20px -3px rgba(0, 0, 0, 0.113);
}

.theader {
    background-color: #ff97a5;
}

.th {
    padding: 2rem 1.5rem !important;
}

/* .th:nth-of-type(1) {
    border-radius: 2rem 0 0 0;
} */

.th:first-child {
    border-radius: 2rem 0 0 0;
}

/* .th:nth-of-type(5) {
    border-radius: 0 2rem 0 0;
} */

.th:last-child {
    border-radius: 0 2rem 0 0;
}

.td {
    padding: 2rem 1.5rem !important;
    font-weight: 700;
}


.tr:nth-of-type(2n+1) {
    background-color: #f8f8f8;
}

.tr:hover {
    background-color: #ffedef;
}

.center {
    text-align: center;
}

.pagi {
    background-color: #ff97a5;
    color:#090526;
    padding: 0 0.5rem;
    border: none;
    border-radius: 1rem;
    margin: 0 1rem;
}

.pagi:hover {
    background-color: #cb7e88;
    color: #fff;
    transition: .5s;
}



/* *******ROW******* */

.detail {
    padding: 1rem 2rem !important;
    color: #1a1a1a;
    font-size: 0.8rem;
}

.icon {
    margin-right: 0.3rem;
}

.option {
    width: 1rem;
    background: none;
    border: none;
    margin: 0 0.3rem;
}

.accept {
    background-color: #C0FAC7;
    border-radius: 1rem;
}

.accept:hover {
    background-color: #92ed9c;
}