@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

// Import font
// @import url();

// Color
:root {
    --red: #fe2c55;
    --gray: #828282;
    --black: #090526;
    --purple: #7d73c1;
    --gray-light: #DEDEDE;
    --gray-light: #dedede;
    --white: #fff;
    --purple-light: #fbf6f8;
    --pink: #FF727D;
}

* {
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

html {}

body {
    background-color: #FBF6F8;
    font-weight: 400;
}
