.create_class__container {
    background-color: var(--white);
    padding: 2rem 3rem;

    h3 {
        font-weight: bold;
    }
}

.btn-create {
    background-color: var(--pink);
    padding: 8px 45px;
    border-radius: 20px;
}