:root {
    --pink: rgba(255, 114, 125, 0.65);
    --success: #C0FAC7;
    --success-hover: #6FFA80;
    --success-active: #19c52d;
    --warning: #F5BE70;
    --warning-hover: #FD9F1A;
    --warning-active: #c67d17;
    --banned: rgba(255, 114, 125, 0.65);
    --banned-hover: rgba(252, 78, 93, 0.65);
    --banned-active: rgba(175, 9, 23, 0.65);
    --black: #090526;
}

.tutorList {
    margin: auto;
    width: 80%;
}

.success-btn {
    --bs-btn-bg: var(--success);
    --bs-btn-border-color: none;
    --bs-btn-hover-bg: var(--success-hover);
    --bs-btn-hover-border-color: none;
    --bs-btn-color: var(--black);
    --bs-btn-hover-color: var(--black);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--black);
    --bs-btn-active-bg: var(--success-active);
    --bs-btn-active-border-color: none;
    --bs-btn-border-radius: 20px;
    margin-left: 20px;
}

.warning-btn {
    --bs-btn-bg: var(--warning);
    --bs-btn-border-color: none;
    --bs-btn-hover-bg: var(--warning-hover);
    --bs-btn-hover-border-color: none;
    --bs-btn-color: var(--black);
    --bs-btn-hover-color: var(--black);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--black);
    --bs-btn-active-bg: var(--warning-active);
    --bs-btn-active-border-color: none;
    --bs-btn-border-radius: 20px;
    margin-left: 20px;
}

.banned-btn {
    --bs-btn-bg: var(--banned);
    --bs-btn-border-color: none;
    --bs-btn-hover-bg: var(--banned-hover);
    --bs-btn-hover-border-color: none;
    --bs-btn-color: var(--black);
    --bs-btn-hover-color: var(--black);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--black);
    --bs-btn-active-bg: var(--banned-active);
    --bs-btn-active-border-color: none;
    --bs-btn-border-radius: 20px;
    width: 40%;
    margin-left: 20px;
}

.custom-thead {
    background-color: var(--pink);
    line-height: 40px;
    border-radius: 20px;
}

#TH td,
#TH th {
    text-align: center;
    vertical-align: middle;
}

#TH th:nth-of-type(4) {
    border-radius: 0 20px 0 0;
}

#TH th:nth-of-type(1) {
    border-radius: 20px 0 0 0;
}