/* Search */
.search {
    margin: auto;
    background-color: var(--white);
    border-radius: 10px;
    width: 400px;
    position: relative;

    input {
        margin: 0.5rem 0;
        padding: 0rem 2rem 0rem 1.5rem;
        border: none;
        background-color: transparent;
        flex-grow: 1;

        &:focus {
            outline: 0;
        }
    }
    
    input:not(:placeholder-shown) ~ .search__btn {
        color: rgba(22, 24, 35, 0.75);
    }
}

.search__loading,
.search__clear {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);

    .icon__clear {
        color: #aaa;
        padding-right: 0.5rem;
    }
}

.search__btn {
    border: none;
    background-color: var(--white);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 1.25rem;
    padding-right: 1.5rem;
    color: #aaa;
}

.search__result {
    width: 400px;
    margin-top: -4px;
}

.search__title {
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: rgba(22, 24, 35, 0.5);
    font-size: 0.9rem;
}
